// @import "helpers/variables";
@import "helpers/mixins";
// @import "helpers/functions";
// @import "vendor/libs";
// @import "base/fonts";
// @import "base/general";
// @import "../blocks/modules";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './helpers/mixins';

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  width: 170px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  padding: 13px 0;
  color: #FFFFFF;

  &:hover {
      transform: scale(1.01);
  }
}

.link {
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  color: #4985FF;
}

header {
  background: url('../img/favicon/fon/Rectangle.png') center center no-repeat;

  nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 85px;
      border-bottom: 1px solid #a1a1a1;

      a {
          padding: 30px;
          text-decoration: none;
          color: #ffffff;
          font-size: 13px;
          line-height: 20px;

          &:hover {
              border-bottom: 2px solid #FFFFFF;
          }
      }
  }

  .first-screen {
      text-align: center;
      color: #FFFFFF;
      padding: 200px 0;

      h1 {
          font-weight: 500;
          font-size: 12px;
      }

      h2 {
          font-weight: 800;
          font-size: 36px;
          margin: 20px 0 30px 0;
      }
  }
}

main {

  .services {
      text-align: center;
      margin: 80px 0;

      h2 {
          @include title-block;
          margin-bottom: 50px;
      }

      p {
          @include text-block;
      }

      .services__create {
          display: flex;
          justify-content: center;
          margin: 70px 0 55px 0;

          .services__item {
              display: flex;
              margin: 0 10px;

              .circle {
                  display: flex;
                  justify-content: flex-start;
                  width: 100px;
                  height: 100px;
                  padding: 10px;
                  border-radius: 50%;
                  border: 1px solid #E0E0E0;


                  .circle-project {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 80px;
                      height: 80px;
                      border-radius: 50%;
                      border: 1px solid #4985FF;

                      &::before {
                          content: url('../img/favicon/services/project.png');
                      }
                  }
              }

              .services__text {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: flex-start;
                  margin-left: 17px;
                  margin-top: 45px;

                  p {
                      margin-top: 12px;
                      text-align: left;
                  }
              }
          }
      }
  }

  .about-us {
      background: #F6F6F8;

      .about-us__title {
          display: flex;
          justify-content: center;
          padding: 100px 0 80px 0;
          border-bottom: 1px solid #E0E0E0;

          .about-us__text {
              margin: 30px 90px 0 0;

              h2 {
                  @include title-block;
              }

              p {
                  @include text-block;
                  width: 370px;
                  margin: 40px 0 30px 0;
              }
          }

          img {
              width: 400px;
              height: 300px;
          }
      }

      .about-us__project {
          display: flex;
          justify-content: center;
          padding: 70px 0;

          .about-us__numbers {
              width: 90px;
              margin: 0 45px;

              h5 {
                  display: flex;
                  justify-content: flex-end;
                  font-size: 26px;
                  font-weight: normal;
                  color: #000000;

                  &::before {
                      content: url('../img/favicon/about-us/web-programming.png');
                      margin-right: 20px;
                  }
              }

              p {
                  @include text-block;
                  font-size: 15px;
              }
          }
      }
  }

  .all-services {
      background: linear-gradient(to bottom, #5F12D0 60%, #FFFFFF 40%);

      .all-services__title {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 100px;

          h2 {
              @include title-block;
              color: #FFFFFF;
          }

          .btn {
              height: 40px;
              padding: 10px 0;
          }
      }

      .all-services__items {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid #E0E0E0;
          margin-bottom: 60px;

          .all-services__block {
              margin: 0 15px;
              padding: 70px 0 60px 0;

              img {
                  width: 250px;
                  height: 200px;
              }

              h5 {
                  margin-top: 30px;

                  span {
                      color: #4985FF;
                  }
              }

              p {
                  margin: 30px 0;
                  @include text-block;
                  width: 250px;
              }
          }
      }
  }

  .all-projects {
      background: #F6F6F8;
      text-align: center;
      padding: 60px 0 70px 0;

      h2 {
          @include title-block;
          padding-bottom: 60px;
      }

      p {
          @include text-block;
      }

      .all-projects__img {
          display: flex;
          justify-content: center;
          margin: 60px 0;

          .all-projects__photo {
              background: url('../img/favicon/all-projects/photo-projects.png')center center no-repeat;
              width: 175px;
              height: 175px;
              margin: 0 15px;
              border-radius: 10px;
          }
      }
  }

  .video {
      background: url('../img/favicon/fon/video.png') -400px -100px no-repeat;
      text-align: center;

      h2 {
          @include title-block;
          color: #FFFFFF;
          padding: 70px 0 30px 0;
      }

      p {
          @include text-block;
          color: #FFFFFF;
      }

      .video__block {
          display: flex;
          justify-content: center;
          background: url('../img/favicon/video/video-photo.png') center center no-repeat;
          width: 800px;
          margin: 70px auto 60px;
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          border-radius: 10px;

          .video__btn {
              display: flex;
              align-items: center;
              background: none;
              border: 1px solid #FFFFFF;
              border-radius: 200px;
              padding: 15px 30px 15px 30px;
              margin: 130px 0;
              color: #FFFFFF;
              font-size: 14px;

              &::before {
                  content: url('../img/favicon/video/play-button.png');
                  cursor: pointer;
                  margin-right: 20px;
              }

              &:hover {
                  transform: scale(1.01);
              }
          }
      }
  }

  .subcribe {
      text-align: center;
      padding-bottom: 60px;

      h4 {
          border-top: 1px solid #E0E0E0;
          padding: 60px 0 20px 0;
      }

      p {
          @include text-block;
      }

      .subcribe__btn {
          display: flex;
          justify-content: center;
          margin: 30px 0;
          height: 35px;

          input[type=email] {
              width: 350px;
              padding: 0 30px 0;
              font-size: 13px;
              border: none;
              border-bottom-left-radius: 30px;
              border-top-left-radius: 30px;
              outline: none;
              box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
              float: left;
              background: #FFFFFF;
          }

          button {
              float: left;
              width: 190px;
              background: #2196F3;
              color: white;
              font-size: 16px;
              border: none;
              border-bottom-right-radius: 30px;
              border-top-right-radius: 30px;
              box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
              cursor: pointer;

              &:hover {
                  background: #0b7dda;
              }
          }

      }


  }
}

footer {
  background: #F6F6F8;
  padding: 60px 0 20px 0;

  .footer__block {
      display: flex;
      justify-content: space-around;
      padding-bottom: 50px;
      border-bottom: 1px solid #E0E0E0;
      .footer__links {
          display: flex;
          flex-direction: column;

          a {
              text-decoration: none;
              color: #999999;
              font-size: 14px;
              margin-top: 20px;

              &::before {
                  content: url('../img/favicon/footer/right-arrow.png');
                  margin-right: 10px;
              }
          }

          #mail::before {
              content: url('../img/favicon/footer/envelope.png');
              margin-right: 15px;
          }

          #num::before {
              content: url('../img/favicon/footer/call.png');
              margin-right: 15px;

          }

          #street::before {
              content: url('../img/favicon/footer/placeholder.png');
              margin-right: 15px;
          }
      }
  }
  p{
      padding: 20px 0 0 0;
      font-weight: normal;
      font-size: 13px;
      text-align: center;
      color: #999999;
  }
}
